.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-input {
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #334155;
  border-right: none;
  border-radius: 6px 0 0 6px;
  outline: none;

  width: 100%;

  background-color: #0f172a;
  color: #e5e7eb;
}
.search-button {
  padding: 10px 14px;
  font-size: 14px;
  background-color: #2563eb;
  color: white;
  border: 1px solid #2563eb;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.search-button:hover {
  background-color: #1d4ed8;
}